<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Reset-Password</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"
    />
    <link href="/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="/pages/css/login3.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" />
   
</head>

<body class='login'>
    <div class="logo">
        <a href="/">
            <h1 title="Back to login">Annotation</h1>
            <!-- <img src="/pages/img/logo-big.png" alt="" />  -->
        </a>
    </div>
     <% flash.get('error').forEach(function (message) { %>
                <div class="alert alert-danger">
                    <button class="close" data-close="alert"></button>
                    <span> <%= message %> </span>
                </div>
                <% }) %>
    <div class="content" style="padding-bottom:35px">
        <form method="POST" class="forget-form" id="edit-profile-form" action="/change-password/<%=token.token%>" novalidate="novalidate">
            <h3 class="page-title" style="padding-left:14px">
                <small><b>Reset-Password</b></small></h3>
                
            <div class="form-group form ">
                <div class="col-md-12">
                    <input type="password" name="new_password" class="form-control" id="new_password" placeholder="Enter new password">
                     <span id="validPassword" style="color:red"></span>
                </div>
            </div>
            <div class="form-group form ">
                <div class="col-md-12">
                    <input type="password" name="confirm_password" class="form-control" placeholder="Enter confirm password" id="confirm_password">
                      <span id="validcPassword" style="color:red"></span>
                </div>
            </div>
            <div class="form-actions">
                <button id="submitbtn" name="submitFormButton" title="Confirm" onclick= "fieldsValidation()" type="button" class="btn green pull-right button1"><i class="fa fa-check"></i>
                        <span class="hidden-xs"> Confirm</span></button>
            </div>
        </form>
    </div>
 <script>

    function fieldsValidation(e) {
        console.log("hello");

        var password = document.getElementById('new_password').value;
        var cpassword = document.getElementById('confirm_password').value;
        var flag = true;
        
        if (password === '' || password == null) {
            flag = false;
            document.getElementById("validPassword").innerHTML = "Please enter password.";
        }
        if (cpassword === '' || cpassword == null) {
            flag = false;
            document.getElementById("validcPassword").innerHTML = "Please enter confirm password.";
        }
          if (password != cpassword) {
            flag = false;
            document.getElementById("validcPassword").innerHTML = "Password are not matching.";
            }
        if (flag === true) {

            document.getElementsByName("submitFormButton")[0].type = "submit";
        }
    }

</script>
</body>

</html>