<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>

<head>
        
		<style>
input.error {
    border: 1px dotted red;
}
select.error{
    border: 1px dotted red;
}
label.error{
    color: red;   
}
.user-form input.submit {
    margin-left: 120px;
}
</style>
    <meta charset="utf-8" />
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/dashboard">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/email-templates">Email Templates</a>
                <i class="fa fa-circle"></i>
            </li>
                <li>
                <a href="">Add</a>
              
            </li>
        </ul>
    </div>
    <style>
  
    </style>
</head>

<body>
    <h3 class="page-title">
       <medium>Add Email Template</medium></h3>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body form">
                    <div class="form-body">
                        <form action="/email-templates/add" method="post" enctype="multipart/form-data" class="form-horizontal" id="add-emailtemplate-form">
                        
                          
                            <div class="row">

                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Subject <span aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="subject" id="subject"  placeholder="Enter subject">
                                            <span id="validSubject" style="color:red"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->

                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Description<span aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="description" id="description"  placeholder="Enter description">
                                            <span id="validDescription" style="color:red"></span>
                                        </div>
                                    </div>
                                </div>

                                 <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Slug<span aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="slug" id="slug"  placeholder="Enter slug">
                                            <span id="validSlug" style="color:red"></span>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-9">
                                    <div class="form-group">
                                         <label class="control-label col-md-3">Body<span aria-required="true"> * </span></label>
                                        <div class="col-md-9">
                                            <textarea class="content col-md-6" name="emaildata">
                                 
                                 </textarea>
                                        </div>
                                    </div>
                                </div>
                                <!--/row-->

                                <!--/span-->
                            
                                
                                        <!--/row-->

                                        <!--/span-->
                                        </div>
                                        <br>
                                      
                                        </div>
                                        <div class="form-actions right">
                                            <a href="/email-templates"class="btn default" title="Cencel"><i class="fa fa-mail-reply"></i>&nbsp;Cancel</a>
                        <button name="submitFormButton" type="submit" id="inputValidate" class="btn blue" title="Save"><i class="fa fa-check"></i> Add</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/global/scripts/myutils.js" type="text/javascript"></script>
     <script>
  
    var FormValidation = function() {

        var handleValidation = function() {

            var form = $('#add-emailtemplate-form');
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "", // validate all fields including form hidden input
                  rules: {
           subject:{
                required: true,
            },
            description: {
                required: true,
            },
             slug: {
                required: true,
            },
        },
        messages: {
            subject: "Please enter subject",
              description: "Please enter description ",
               slug: "Please enter slug ",
        },
                invalidHandler: function(event, validator) { //display error alert on form submit              
                    success.hide();
                    error.show();
                },
                highlight: function(element) { // hightlight error inputs
                    $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                unhighlight: function(element) { // revert the change done by hightlight
                    $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },
                success: function(label) {
                    label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },
                submitHandler: function(form) {
                    success.show();
                    error.hide();
                    form.submit();
                },
            });

        };

        return {
            init: function() {
                handleValidation();
            }
        };

    }();

    jQuery(document).ready(function() {
        FormValidation.init();

        jQuery.validator.addMethod("noSpace", function(value) {
            return value.trim() != "";
        });
        
    });

		</script>
    <script>
        $(document).ready(function () {
            $('.content').richText();
        });

    </script>
</body>

</html>